@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');
@import url('https://fonts.googleapis.com/css?family=Lora');
* { margin:0; padding:0; box-sizing:border-box; }

body {
	color: #666666;
	background-color: #ffffff;
	background-image: url('../images/ZigZag2.jpg');
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align:center;
}

h1 {
	color: #FFF;
	font-size: 48px;
	font-weight: 100;
	padding-bottom: .2em;
}

h2 {
	font-size: 40px;
	font-weight: 100;
	line-height: 1em;
	padding-bottom: 1em;
}

h3 {
	font-size: 18px;
	font-weight: 700px;
	padding-top: 1em;
	padding-bottom: .5em;
	text-transform: uppercase;
}

h4 {
	color: #FFF;
	font-size: 18px;
	font-weight: 700px;
	padding-bottom: 2em;
	text-transform: uppercase;
}

p {
	font-family: 'Lora', serif;
	line-height: 1.6em;
	padding-bottom: 1em;
}

a {
	color:inherit;
}

a:hover {
	color: #99CCFF;
}

img {
	margin: 1em;
}

.wrapper {
	background:#fff;
	box-shadow: 1px 1px 3px rgba(0,0,0,.25);
	margin:auto;
	max-width:75em;
	padding:0em;
}

section {
	padding: 5% 5%;
}


#splash {
	background-color: #ff99CC;
}

.intro {
	color: #FFF;
	padding-bottom: 1.5em;
}

nav {
	padding: 3em 0;
	border-bottom: 1px solid #CCC;
}

nav a {
	display:inline-block;
	font-weight: 700;
	margin: 0 1em;
	text-decoration:none;
	text-transform: uppercase;
}
nav a:hover {
	color: #99CCFF;
}

#projects {
	border-bottom: 1px solid #CCC;
	clear: both;
}

.border {
	border: 1px solid #CCC;
}

#about {
	border-bottom: 1px solid #CCC;
}

#bio {
	margin-right: 4%;
	text-align: left;
	width: 70%;
	float: left;
}

#headshot {
	width: 26%;
	float: left;
}

#headshot img {
	padding: 0;
	width: 80%;
}

li {
	font-family: 'Lora', serif;
	line-height: 1.2em;
	margin-left: 20px;
	padding-bottom: .5em;
}

.cta {
	background: #99CC99;
	color: #fff;
	display:inline-block;
	font-weight: 700;
	margin-top: 2em;
	padding:1em 2em;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: .5em;
}

.cta:hover {
	background-color: #99CCFF;
	color: #FFF;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

