@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'Roboto', sans-serif;
	color: #666666;
	background-color: #ffffff;
	background-image: url('../images/ZigZag.gif');
	text-align:center;
}
section {
	padding:5em 0;
}
h1 {
	font-weight: 100;
	font-size: 48px;
}

h2 {
	font-weight: 800;
	font-size: 24px;
	line-height: 1em;
	text-transform: uppercase;
}

.title {
	font-weight: 100;
	font-size: 18px;
}

h3 {
	font-size: 18px;
	text-transform: uppercase;
}


p {
	font-family: 'Roboto Slab', serif;
	line-height: 1.6em;
}
a {
	color:inherit;
}
nav {
	text-align:center;
}
nav a {
	display:inline-block;
	margin: 0 1em;
	text-decoration:none;
}
.cta {
	background:purple;
	text-decoration: none;
	color: #fff;
	padding:1em 2em;
	display:inline-block;
	margin-top: 1em;
}

a:hover {
	color: #99CCFF;
}
.wrapper {
	background:#fff;
	box-shadow: 1px 1px 3px rgba(0,0,0,.25);
	max-width:75em;
	margin:auto;
	padding:2em;
}

